body {
  /* margin: 0;
  padding: 0; */
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.jobs-board{
  margin: 20px;
}

.job-employer-view{
  /* margin: 10px; */
  border: #000000 0.5px solid;
  padding: 10px;
}

.landing-page{
  background: url("./background.jpg") no-repeat center center;
  background-size: cover;
  height: 760px;
  overflow: hidden;
  color: black;
}

.background {
  background: rgb(245, 245, 245);
  height: 800px;
}

.main-header{

}
.main-header h1{
  font-family: 'Galada', cursive;
  font-size: 64px;
  letter-spacing: 5px;
  padding-top: 100px;
  padding-left: 20px;
}
.main-header h2{
  font-family: 'Galada', cursive;
  font-size: 48px;
  letter-spacing: 4px;
  padding-left: 20px;
}

.main-header p{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding-left: 40px;
}

.main-header-icon{
  padding: 200px;
}

.employee-view-job{
  margin: 30px;
}

.margin-top {
  margin-top: 60px;
}

.nav-bar {
  padding: 2px 25px;
}

.nav-bar h2 {
  margin: 0px;
}

.intro-container {
  position: relative;
  top: 160px;
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 2.3em;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: black
}

.flip-card {
  width: 500px;
  color: whitesmoke;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.info-container {
  position: absolute;
  background: white;
  width: 90%;
  height: 850px;
  top: 730px;
  left: 5%;
  padding: 5%;
  font-size: 1.5em;
}

.signup-landing {
  background: #d2d4bc;
  padding: 5%;
  width: 85%;
  margin: auto;
}